@using Entity.Concrete;
@model IEnumerable<Category>
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<h2>Kategori Listesi</h2>
<p>Kategori Listesini çekiyoruz...</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Kategori Adı</th>
            <th>Açıklama</th>
            <th>Oluşturma Tarih</th>
            <th>Durum</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.CategoryDescription</td>
                <td>@item.CategoryCreateDate</td>
                <td>@item.CategoryStatus</td>
                <td><button class="btn btn-success">Güncelle</button></td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>



